 @media screen and (max-width: 991px) {
    #update{
        float: left !important;
    }
  }

/* @media screen and (max-width: 575px) {
    li#search-icon{
        margin-left:0px !important;
    }
  }  */

.bg-color{
    background-color: #3d566e;
  }

.image{
  width: 200px;
}

.text-color{
  color:#3d566e;
}

.date-comment, .rating{
  font-size: 0.7rem;
}

.business-image{
  height:11rem;
  min-width: 100%;
}