.list-row{
    flex-direction: row;

}

#navigation-container{
    border-bottom: 3px solid orangered;
}

#main-nav,#footer-container{
    background-color: #3d566e;
}

#image-wrapper1 img{
    max-width: 9rem;
}

#image-wrapper2 img{
    max-height: 14.9rem;
    width: fit-content;
}

#business-header a,#st-header a, #lifestyle-header a{
    background-color: orangered;
}

.card-image-section{
    height:100%;
}

.text-color{
    color: orangered;
}

#footer-container footer{
    width: fit-content;
    height: fit-content;
    margin: auto;
}

/* @media only screen and (max-width: 768px){
    
} */


/* .list-row li a{
    text-decoration: none;
    color: #000000;
} */